{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
	{jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy"}},
	{cowboy_session, ".*", {git, "https://github.com/dronowar/cowboy_session"}},
	{emodel, ".*", {git, "https://github.com/egobrain/emodel.git"}},
	{pgapp, ".*", {git, "https://github.com/epgsql/pgapp.git"}},
	{epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git"}},
	{sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {gproc,  ".*", {git, "https://github.com/esl/gproc.git"}},
	{poolboy,  ".*", {git, "https://github.com/devinus/poolboy.git", {tag,"1.4.2"}}},
	{uuid,  ".*", {git, "https://github.com/travis/erlang-uuid.git", "f6a1cf9027e4af78b4a81201f4f6db1a822b8316"}}
]}.
